<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <ul id="messages">
      <% comments.forEach(comment => { %>
        <li><%= comment.comment %></li>
      <% }) %>
    </ul>
    
    <form id="form" action="/" method="post">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.js"></script>

  </body>
</html>

